.idea/
.vagrant/
docs/build/
manual/build/

node_modules/
resources/vendors/**/

venv/
venv3/
/distribute-*.tar.gz

*.crt
*.db
*.key
*.pid
*.pyc
*.sock
*.sqlite
*.sqlite3
*.html
.coverage
celerybeat-schedule
_chameleon*.scss
chameleon.less
debug.log
deploy_key
npm-debug.log
secrets.py
secrets.yml
backup-key-vagrant-1.pub
server_structure.asta.bak
billiard-3.3.0.19-cp27-none-macosx_10_6_intel.whl
*.rdb
.travis-secrets.py
celerychain_*
main-1.css
main-2.css
venv3
scratch_pad.py

